#projects {
  background-color: #1b263b;
}

#projects .swiperContent {
  display: block;
  background-color: #1b263b;
}

#projects .projectCard header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#projects .projectCard header ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#projects main {
  width: 100%;
}

.swiper-slide {
  margin-bottom: 25px;
}

.projectCard {
  text-align: start;
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;
  background-color: #415a77;
  box-shadow: -1px -8px 108px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -1px -8px 108px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -1px -8px 108px 0px rgba(0, 0, 0, 0.75) inset;
  margin: 20px;
  border-radius: 25px;
}

#projects h2 {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

#projects h3 {
  color: rgb(220, 220, 220);
  font-size: 1.4rem;
  text-align: start;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

#projects h4 {
  font-size: 1.3rem;
  color: rgb(250, 250, 250);
}

.projectCard p {
  margin: 0;
  padding: 0;
}

.projectImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  place-content: end;
  text-align: end;
  align-items: end;

  position: relative;
}

.projectImg img {
  object-fit: cover;
  width: 100%; /* Ajusta el ancho de la imagen al del contenedor */
  position: absolute;
  transform: translateY(35%); /* Mueve la imagen hacia abajo */
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.projectLink {
  width: 100%;
  align-items: start;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.projectLink a {
  padding: 5px 10px;
}

.projectLink ul {
  color: rgb(255, 255, 255);
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 10%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

#projects li {
  color: white;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 50px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: orange;
  transform: scale(1.2);
}
:root {
  --swiper-theme-color: rgb(253, 253, 253) !important;
}

.swiper-scrollbar-drag {
  color: rgb(255, 255, 255) !important;
}
