#studies {
  background-color: #1b263b;
  color: black;
}

#studies .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  gap: 16px;
  padding: 20px;
  width: 65%;
  margin: 0 auto; /* Centra el contenedor en la pantalla */
}

#studies .grid-item {
  color: black;
}

#studies .grid-item {
  background-color: rgb(46, 37, 37);
  color: #0d1b2a;
  width: 270px;
  text-align: center;
  position: relative;
  padding: 8px 8px 40px 8px;
  background-color: rgba(255, 255, 255, 0.5); /* Azul con transparencia */
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.9;
  overflow: hidden;
}

.grid-uni {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  font-size: 12px;
}
